body {
    max-width: 100%;
    height: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}

.main-header {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 15px;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    background-color: black;
}

#logo {
    width: 160px;
    height: 38px;
}

.navigation-button {
    display: flex;
    flex-direction: row;
    gap: 13px;
}

#navigation-button {
    text-decoration: none;
    color: #ffbc00;
    font-size: small;
    font-weight: 700;
}

.tagline {
    text-align: center;
}

#tagline-head {
    font-size: xx-large;
    font-weight: bolder;
    margin: 0px;
    padding-top: 20px;
}

#tagline-logo {
    width: 160px;
    height: auto;
}

.banner-form {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-evenly;
}

.left-side {
    flex: 65;
}

.container-slide {
    display: none;
    opacity: 0;
    transition: opacity 2s ease; 
}

.container-slide.active {
    display: block;
    opacity: 1;
}

.container-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#image-slideshow {
    width: 434px;
    height: auto;
    border: 0.5px solid lightgrey;
    box-shadow: 1px 4px 4px lightgrey;
    border-radius: 15px;
}

#caption-slideshow {
    font-style: italic;
    color: gray;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

#profile-slideshow {
    height: 40px;
    width: 40px;
}

#user-name {
    margin: 0px;
    padding: 0px;
}

#user-profecy {
    margin: 0px;
    padding: 0px;
    font-size: smaller;
}

.feature-list {
    text-align: justify;
}

.right-side {
    flex: 35;
    display: flex;
    flex-direction: column;
    background-color: #ffbc00;
    align-items: center;
    height: 30%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0 2%;
}

.form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-title {
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#form-description {
    text-align: justify;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
    align-items: flex-start;
}

input {
    width: 80%;
    height: 35px;
    border: 2.5px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
}

#option {
    width: 80%;
    height: 35px;
    border: 2.5px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    color: grey;
}

#submit {
    width: 60%;
    height: 40px;
    background-color: #056c05;
    border: 0px;
    border-radius: 8px;
    color: white;
    font-size: larger;
    font-weight: 700;
}

#submit:hover {
    background-color: black;
    color: #ffbc00;
}

#section-title {
    padding: 50px;
    background-color: black;
    color: #ffbc00;
    text-align: center;
}

.packages-card {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    width: 250px;
    text-align: justify;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border: 1px solid #056c05;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 25px;
    background-color: black;
    color: white;
}

#cta {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

#headline-cta {
    font-size: xx-large;
    color: black;
    margin-bottom: 10px;
}

#caption-cta {
    color: grey;
}

.cta-button {
    width: 300px;
    height: 40px;
    background-color: black;
    border: 0px;
    border-radius: 10px;
    color: #ffbc00;
    font-size: large;
    font-weight: 700;
    margin: 20px;
}

.cta-button:hover {
    background-color: #ffbc00;
    color: black;
}

.alternate-button {
    width: 300px;
    height: 40px;
    background-color: white;
    border: 2.5px solid #ffbc00;
    border-radius: 10px;
    color: #ffbc00;
    font-weight: 700;
    margin: 20px;
}

.alternate-button:hover {
    border: 4px solid #ffbc00;
    font-weight: 750;
}

footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 120px;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
}

@media (max-width: 950px) {
    
}